


html{
    margin: 0px;
}

body{
    background-color: #fefae0;
    margin: 0px;
}

.topo ul{
    margin: 5px;
}

.navegacao{
    text-align: center;
}

.carrossel{
    margin: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: inherit;
}

.promocoes{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.produtos{
    text-align: justify;
    padding: 40px;
}

.contatos{
    background-color: #283618;
    padding: 40px;
}

h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
}

.nav{
    background-color: #283618;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 0px;
    height: 100px;
    align-content: center;
}

.nav div{
    width: 20px;
    border: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    height: 100px;
    line-height: 50px;
    flex-grow: 1;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    text-align: center;
}